/** @format */

.flex {
    display: flex;

    &.inline {
        display: inline-flex;
    }

    &.ac {
        align-items: center;
    }

    &.ae {
        align-items: flex-end;
    }

    &.jc {
        justify-content: center;
    }

    &.je {
        justify-content: flex-end;
    }

    &.column {
        flex-flow: column;
    }

    &.wrap {
        flex-flow: wrap;
    }

    &.between {
        justify-content: space-between;
    }
}
